.task{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid #464646;
    border-radius: 8px;
    background: var(--gray-500);
}

.checkButton {
    display: flex;
    background: none;
    border: none;
    border-radius: 50%;
    margin-right: 2rem;
    color: var(--blue-200);
    cursor: pointer;
    transition: background 0.2s, color 0s, width .2s, heigth .2s;
}

.checkButton:hover{
    
    background: var(--blue-100);
    color: transparent;
    border: 2px solid var(--blue-400);
    width: 2rem;
    height: 2rem;
}
.checkButton:focus{
    box-shadow: none
}

.deleteButton{
    margin-left: 1rem;
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    transition: transform .2s;
    line-height: 0;
    border-radius: 2px;
}

.deleteButton:hover{
    transform: scale(.9);
    color: var(--danger);
}